@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  background-color: #282c34;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 728px;
  top: 0;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(122 122 122 / 83%);
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #ebebedf0;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: black;
}


input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: rgb(250, 250, 250);
  outline: none;
  border: none;
  padding: 0 10px;
}

button {
  background-color: #9a0f34ab;
  border: none;
  color: white;
  padding: 11px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 2.25rem;
  font-family: 'Comfortaa', cursive;
}

button:disabled {
  opacity: 0.9;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  font-family: 'Comfortaa', cursive;
}




ul, li {
  text-align: left;
  list-style: none;
}

p {
  /* max-width: 500px; */
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.sign-out{
  border-radius: 7px;
}

.img-logo{
  padding-left: 121px;
  padding-right: 121px;
  left: auto;
  width: 63%;
  height: 100%;
}


/* github link */
.github_link{
  margin-left: 47%;
  width: 50px;
  height: 50px;
}

/* @media screen {
  min-height: 177vh;
  min-width: 78vh;
  max-width: 839px;
  app header max-width: 806px;
} */
